@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('/images/jpeg.jpg');"></div>
    <div class="contents order-2 order-md-1">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3>Bem-vindo ao Portal de Login da <strong>LogTec</strong></h3>
                    <p class="mb-4">Este espaço é exclusivo para colaboradores da LOGTEC.
Para acessar os recursos internos e continuar suas atividades, realize seu login abaixo.
Digite seu e-mail corporativo e senha nos campos indicados e clique em Entrar para prosseguir.</p>
                    <form action="#" method="post">
                        <div class="form-group first">
                            <label for="username">E-mail</label>
                            <input required type="email" class="form-control" placeholder="E-mail" id="username">
                        </div>
                        <div class="form-group last mb-3">
                            <label for="password">Senha</label>
                            <input required type="password" class="form-control" placeholder="Digite sua senha" id="password">
                        </div>

                        <a href=""><input type="submit" value="Log In" class="btn btn-block btn-primary"></a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>