 @{  

    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* -------------------------------------------------- pagina cliente ----------------------------------------------- *@


   @{

    ViewData["Title"] = "Gerenciador de Clientes";
    }

<div class="text-center">
    <h1 class="display-4">Gerenciador dos Clientes</h1>
    <p>Selecione uma das opções abaixo para começar a gerenciar.</p>
    <hr />
    <div class="row justify-content-center">
</div>

<div class="container">

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Clientes" class="btn btn-primary btn-lg btn-block">
                <i class="fas fa-users"></i>
                CLIENTES
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Pedidos" class="btn btn-success btn-lg btn-block">
                <i class="fas fa-shopping-cart"></i>
                Cadastrar
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Produtos" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-box-open"></i>
                Atualizar
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Produtos" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-box-open"></i>
                Deletar
            </a>
        </div>

    </div>
</div>


@* ------------------------------------------------------- Pagina pedido ------------------------------------------------------ *@
  
  @{

    ViewData["Title"] = "Gerenciador de Clientes";
    }

<div class="text-center">
    <h1 class="display-4">Gerenciador dos Pedidos</h1>
    <p>Selecione uma das opções abaixo para começar a gerenciar.</p>
    <hr />
</div>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Clientes" class="btn btn-primary btn-lg btn-block">
                <i class="fas fa-users"></i>
                Pedidos
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Pedidos" class="btn btn-success btn-lg btn-block">
                <i class="fas fa-shopping-cart"></i>
                Cadastrar
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Produtos" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-box-open"></i>
                Atualizar
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Produtos" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-box-open"></i>
                Deletar
            </a>
        </div>

    </div>
</div>


@* --------------------------------------------------------------------------- Pagina produto ------------------------------------------------- *@
  
  @{

    ViewData["Title"] = "Gerenciador de Clientes";
    }

<div class="text-center">
    <h1 class="display-4">Gerenciador dos Produtos</h1>
    <p>Selecione uma das opções abaixo para começar a gerenciar.</p>
    <hr />
</div>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Clientes" class="btn btn-primary btn-lg btn-block">
                <i class="fas fa-users"></i>
                Produtos
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Pedidos" class="btn btn-success btn-lg btn-block">
                <i class="fas fa-shopping-cart"></i>
                Cadastrar
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Produtos" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-box-open"></i>
                Atualizar
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Produtos" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-box-open"></i>
                Deletar
            </a>
        </div>

    </div>
</div>
