@{
    ViewData["Title"] = "Bem Vindo Andreia";
}

<div class="text-center">
    <h1 class="display-4">Bem-vinda ao Sistema LogTec</h1>
    <p>Selecione uma das opções abaixo para começar a gerenciar.</p>
    <hr />
</div>

<div class="container">
    <div class="row justify-content-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Clientes" class="btn btn-primary btn-lg btn-block">
                <i class="fas fa-users"></i>
                CLIENTES
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Pedidos" class="btn btn-success btn-lg btn-block">
                <i class="fas fa-shopping-cart"></i>
                PEDIDOS
            </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <a href="/Produtos" class="btn btn-info btn-lg btn-block">
                <i class="fas fa-box-open"></i>
                PRODUTOS
            </a>
        </div>

    </div>
</div>